// Example of project-name.scss
// Define variables to override default ones
$primary-color: #24305e;
$secondary-color: #e5e5f9;

$base-font-family: "Open Sans";

h1,
h2,
h3,
h4,
h5 {
    font-family: "Work Sans";
    letter-spacing: -0.1rem;
}

.btn-demo {
    color: $secondary-color !important;
    background-color: transparent !important;
    border-color: $secondary-color !important;
    &:hover {
        color: darken($secondary-color, 15%) !important;
        border-color: darken($secondary-color, 15%) !important;
    }
}

.filter-white {
    filter: invert(100%);
}

.grow {
    transition: all 0.2s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}

.redoc-json code {
    font-family: "Fira Code" !important;
    font-size: "13px" !important;
}

.bg-gradient {
    background: linear-gradient(
        75deg,
        lighten($primary-color, 25%) 0%,
        $primary-color 100%
    );
}

// Import full Spectre source code
@import "node_modules/spectre.css/src/spectre";
